<!-- Hello -->

<div class="grid-y grid-frame grid-padding-y grid-padding-x">
    <div class="cell small-6 text-justify">
        <p>Hi, this is the overview section. Here one may introduce themselves to the prospective readers and provide an overview of their fields of study, whether it be Quantum Mechanics or Category Theory.</p>
    </div>

    <div class="cell small-4 text-center">
        <img src="{{ 'assets/img/profile.png' | relative_url }}" alt="Author image">
    </div>

    <div class="cell small-2">
        <div class="menu-centered" id="socials">
            <ul class="menu simple">
                <li>
                    <a href="#">
                        <i data-feather="twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="github"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i data-feather="twitch"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
